/*
 * Typography
 *
 * This file collects some basic typography styles for copy text.
 *
 *****************************************************************************/


body {
    @include responsive-font-size(16);

    color: $text-color;
	font-family: $sans-serif-stack;
    font-weight: $font-regular-weight;
	letter-spacing: $kerning50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-bold-weight;
    margin: 0 0 1rem;
}

h1 {
    @include responsive-font-size(type-scale(size8));
    hyphens: auto;
}

h2 {
    @include responsive-font-size(type-scale(size6));
    hyphens: auto;
}

h3 {
    @include responsive-font-size(type-scale(size4));
}

h4 {
    @include responsive-font-size(type-scale(size3));
    line-height: 1.875em;
}

h5 {
    @include responsive-font-size(type-scale(size1));
}

h6 {
    @include responsive-font-size(type-scale(size-1));
}

p {
    margin-bottom: 1rem;
}

li {
    @include responsive-font-size(type-scale(size1));
    
    letter-spacing: $kerning50;

    &:before {
        @include responsive-font-size(type-scale(size3));
    }
}

a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    @include on-event {
        color: lighten($black, 50%);
    }
}
