/*
 * Typography
 *
 * This file collects some basic typography styles for copy text.
 *
 *****************************************************************************/


body {
    color: $text-color;
	font-family: $sans-serif-stack;
    font-weight: $font-regular-weight;
	letter-spacing: $kerning50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-bold-weight;
    margin: 0 0 1rem;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {
    margin-bottom: 1rem;
}

a {
    color: $black;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    @include on-event {
        color: lighten($black, 50%);
    }
}
