/*
 * General Container Elements
 *
 * This file contains the site top-level and general wrapper elements.
 *
 *****************************************************************************/


.site {

}


.content-block {
    padding: 0 $spacing;
}

// Fade Homepage
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
.fade-enter, .fade-leave-active {
    opacity: 0
}
