/*
 * General Container Elements
 *
 * This file contains the site top-level and general wrapper elements.
 *
 *****************************************************************************/


.site {
    .btn-wrap {
        display: inline-block;
        margin-right: $spacing;
        transition: all 300ms $ease;
        &.activeFolio {
            opacity: 0.33;
            cursor: alias;
        }
    }
}
