/*
 * General Container Elements
 *
 *
 *****************************************************************************/

 .container {

  .large-width, .medium-width, .small-width {
    margin: 0 auto;
    padding: 0 $spacing/2;
  }
  .large-width {
    max-width: $large-width;
  }
  .medium-width {
    max-width: $medium-width;
  }
  .small-width {
    max-width: $small-width;
  }
  .content--block {
    margin: 2.5rem auto;
  }
}

footer, nav {
  &.large-width, &.medium-width, &.small-width {
    margin: 0 auto;
    padding: 0 $spacing/2;
  }
  &.large-width {
    max-width: $large-width;
  }
  &.medium-width {
    max-width: $medium-width;
  }
  &.small-width {
    max-width: $small-width;
  }
  &.content--block {
    margin: 2.5rem auto;
  }
}