/*
 * General Container Elements
 *
 * This file contains the site grid wrapper elements. These classes utilize
 Bourbon's Neat grid.
 *
 *****************************************************************************/


section {
    @include grid-container;
	margin: 0 auto;
    &.small-width {
        max-width: $small-width
    }
    &.medium-width {
        max-width: $medium-width;
    }
    &.large-width {
        max-width: $large-width;
    }
    &.xlarge-width {
        max-width: $xxlarge-width;
    }
    &.fluid {
        max-width: none;
    }
}


.row {
    @include grid-column(12);
    @include clearfix();
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;

    .callout, .button {
        @include grid-collapse;
        &-item, a {
            @include grid-column(3);
        }
    }
}


// How to use:

/***
.selector {
    @include grid-column(12, $grid);
    @include grid-media($grid-small) {
        @include grid-column(6);
    }
    @include grid-media($grid-large) {
        @include grid-column(3);
    }
}
***/
